


.favourite-song-bg{background: rgb(63,66,108);
    background: linear-gradient(135deg, rgba(63,66,108,1) 7%, rgba(135,139,195,1) 33%, rgba(172,210,228,1) 75%, rgba(235,241,244,1) 93%);
font-size: 0.6em;

}

.your-episode{background: #004537;}
